<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="公安机关统计" value="http://10.178.3.34/zhddInterface/qw/gajgInterface!gajgtjByXzqh.do" />
    <add key="公安机构坐标" value="http://10.178.3.34/zhddInterface/qw/gajgInterface!getGajgByJglxAndPolygon.do"/>
    <add key="警力分布" value="http://10.178.3.34/zhddInterface/qw/jlfbInterface!jztjMain.do"/>
    <add key="移动终端" value="http://10.178.3.34/zhddInterface/qw/ydjwzdInterface!ydzdMain.do"/>
    <add key="装备管理" value="http://10.178.3.34/zhddInterface/qw/zbglInterface!getSzList.do"/>
    <add key="公安机构坐标" value="http://10.178.3.34/zhddInterface/qw/gajgInterface!getGajgByJglxAndPolygon.do"/>
    <!-- 人员管理 -->
    <add key="人员管理" value="http://10.178.3.34/zhddInterface/ry/ryglInterface!getIndexPageCount.do" />
    <add key="常住人口" value="http://10.178.3.34/zhddInterface/ry/ryglInterface!getCkPageCount.do" />
    <add key="暂住人口" value="http://10.178.3.34/zhddInterface/ry/ryglInterface!getZkPageCount.do" />
    <add key="治安重点人" value="http://10.178.3.34/zhddInterface/ry/ryglInterface!getZazdrPageCount.do" />
    <add key="大情报" value="http://10.178.3.34/zhddInterface/ry/ryglInterface!getDqbPageCount.do" />
    <add key="国保" value="http://10.178.3.34/zhddInterface/ry/ryglInterface!getGbPageCount.do" />
    <add key="反邪教" value="http://10.178.3.34/zhddInterface/ry/ryglInterface!getFxjPageCount.do" />

    <!-- 案件管理 -->
    <add key="案件预览" value="http://10.178.3.34/zhddInterface/aj/ajglInterface!index.do" />
    <add key="接处警" value="http://10.178.3.34/zhddInterface/aj/ajglInterface!getJcj.do" />
    <add key="刑事案件" value="http://10.178.3.34/zhddInterface/aj/ajglInterface!getXsaj.do" />
    <add key="治安案件" value="http://10.178.3.34/zhddInterface/aj/ajglInterface!getZaaj.do" />
    <add key="强制措施" value="http://10.178.3.34/zhddInterface/aj/ajglInterface!getQzcs.do" />

    <!-- 单位管理 -->
    <add key="单位管理" value="http://10.178.3.34/zhddInterface/dw/dwglInterface!index.do" />
    <!-- 单位管理 -->
    <add key="监所管理" value="http://10.178.3.34/zhddInterface/js/jsglInterface!SjList.do" />
    <add key="监所" value="http://10.178.3.34/zhddInterface/ry/ryglInterface!getGajgcs.do?key="/>


    <!--=========================================县级以上柱图URL==============================================-->

    <add key="人员管理Host" value="http://10.178.3.34/zhddTwo/ry/rygl!index.do"/>
    <add key="单位管理Host" value="http://10.178.3.34/zhddTwo/dw/dwgl!index.do"/>
    <add key="监所管理Host" value="http://10.178.3.34/zhddTwo/js/jsgl!index.do"/>
    <add key="案件管理Host" value="http://10.178.3.34/zhddTwo/aj/ajgl!index.do"/>
    <add key="勤务管理Host" value="http://10.178.3.34/zhddTwo/qw/qwgl!index.do"/>

    <!-- ==============================================柱图URL=============================================== -->
    <add key="单位管理URL" value="http://10.178.3.34/zhddTwo/dw/dwgl!getDwView.do"/>
    <add key="人员管理URL" value="http://10.178.3.34/zhddTwo/ry/rygl!getList.do"/>
    <add key="治安案件URL" value="http://10.178.3.34/zhddTwo/aj/ajgl!getAjList.do"/>
    <add key="强制措施URL" value="http://10.178.3.34/zhddTwo/aj/ajgl!getAjList.do"/>
    <add key="接触警LeftURL" value="http://10.178.3.34/zhddTwo/aj/ajgl_left!getAjListleftDiv.do"/>
    <add key="刑事案件LeftURL" value="http://10.178.3.34/zhddTwo/aj/ajgl_left!getAjListleftDiv.do"/>
    <add key="案件一览表URL"   value="http://10.178.3.34/zhddTwo/aj/ajgl!getAjList.do"/>
    <add key="在押情况URL" value="http://10.178.3.34/zhddTwo/js/jsgl!getZyqkView.do"/>
    <add key="看守所URL"   value="http://10.178.3.34/zhddTwo/js/jsgl!getKssView.do"/>
    <add key="拘留所URL"   value="http://10.178.3.34/zhddTwo/js/jsgl!getJlsView.do"/>
    <add key="戒毒所URL"  value="http://10.178.3.34/zhddTwo/js/jsgl!getJdsView.do"/>
    <add key="收容所URL" value="http://10.178.3.34/zhddTwo/js/jsgl!getZyqkView.do"/>
    <add key="装备管理URL" value="http://10.178.3.34/zhddTwo/qw/qwglZb!getZbInfo.do"/>
    <add key="移动终端URL" value="http://10.178.3.34/zhddTwo/qw/ydjwzd!ydsbxsInfo.do"/>
    <!-- =============================================网格化平台接口========================================= -->
    <!-- 网格相关 -->
    <add key="网格层次" value="http://10.178.18.16:8080/SmartCity/dzsp/getJWFQ.ws" />
    <add key="网格概要信息" value="http://10.178.18.16:8080/SmartCity/dzsp/getFQinfoByID.ws" />
    <add key="网格人口统计" value="http://10.178.18.16:8080/SmartCity/dzsp/getRKCount.ws" />
    <add key="网格房屋统计" value="http://10.178.18.16:8080/SmartCity/dzsp/getFWListByID.ws" />
    <add key="网格场所统计" value="http://10.178.18.16:8080/SmartCity/dzsp/getCSCount.ws" />
    <add key="网格案件统计" value="http://10.178.18.16:8080/SmartCity/dzsp/getAJCount.ws" />
    <add key="网格警车警力统计" value="http://10.178.18.16:8080/SmartCity/dzsp/getJCJLCount.ws" />
    <add key="网格视频统计" value="http://10.178.18.16:8080/SmartCity/dzsp/getSPJKCount.ws" />

    <add key="网格常住人口列表" value="http://10.178.18.16:8080/SmartCity/dzsp/getCZRKList.ws" />
    <add key="网格重点人口列表" value="http://10.178.18.16:8080/SmartCity/dzsp/getZDRKList.ws" />
    <add key="网格场所列表" value="http://10.178.18.16:8080/SmartCity/dzsp/getCSList.ws" />
    <add key="网格接处警案件列表" value="http://10.178.18.16:8080/SmartCity/dzsp_new/getJCJList.ws" />
    <add key="网格刑事案件列表" value="http://10.178.18.16:8080/SmartCity/dzsp_new/getXSAJList.ws" />
    <add key="网格治安案件列表" value="http://10.178.18.16:8080/SmartCity/dzsp_new/getZAAJList.ws" />
    <add key="网格警车列表" value="http://10.178.18.16:8080/SmartCity/dzsp/getCarList.ws"/>
    <add key="网格警员列表" value="http://10.178.18.16:8080/SmartCity/dzsp/getJYList.ws" />
    <add key="获取人员所属房屋列表" value="http://10.178.18.16:8080/SmartCity/dzsp/getFWByRK.ws" />
    <add key="网格视频列表" value="http://10.178.18.16:8080/SmartCity/dzsp/getSPJKList.ws" />


    <!-- 详细信息-->
    <add key="人员详细信息" value="http://10.178.18.16:8080/SmartCity/dzsp/getRKDetail.ws" />
    <add key="重点人口详细信息" value="http://10.178.18.16:8080/SmartCity/dzsp/getZDRDetail.ws" />
    <add key="大情报重点人口详细信息" value="http://10.178.3.34/zhddInterface/ry/ryglInterface!getDqbRyxx.do" />
    <add key="房屋详细信息" value="http://10.178.18.16:8080/SmartCity/dzsp/getFWDetail.ws" />
    <add key="获取房屋内人员列表" value="http://10.178.18.16:8080/SmartCity/dzsp/getFWRkList.ws" />
    <add key="场所详细信息无照片" value="http://10.178.18.16:8080/SmartCity/dzsp/getCSDetail.ws" />
    <add key="场所详细信息有照片" value="http://10.178.18.16:8080/SmartCity/dzsp/getCSDetailWithPic.ws" />
    <add key="旅馆旅客列表" value="http://10.178.18.16:8080/SmartCity/dzsp/getLkList.ws"/>
    <add key="网吧上网人员列表" value="http://10.178.18.16:8080/SmartCity/dzsp/getSwryList.ws" />
    <add key="旅馆旅客详细信息" value="http://10.178.18.16:8080/SmartCity/dzsp/getLkDetail.ws" />
    <add key="网吧上网人员详细信息" value="http://10.178.18.16:8080/SmartCity/dzsp/getSwryDetail.ws" />
    <add key="警员详细信息" value="http://10.178.3.34/zhddInterface/qw/jlfbInterface!getJyxxByKey.do" />
    <!--<add key="案件-接触警详细信息" value="http://10.178.3.34/zhdd/aj/views/jcjInfo.jsp?viewType=jj&amp;jjbh=" />
    <add key="案件-刑事案件详细信息" value="http://10.178.3.34/zhdd/aj/views/laInfo.jsp?viewType=la" />
    <add key="案件-治安案件详细信息" value="http://10.178.3.34/zhdd/aj/views/zaajInfo.jsp?viewType=la" />-->
    <add key="案件-接触警详细信息" value="http://10.178.3.34/zhddTwo/aj/ajgl!showView1.do?viewType=jj&amp;jjbh=" />
    <add key="案件-刑事案件详细信息" value="http://10.178.3.34/zhddTwo/aj/ajgl!showView1.do?viewType=la&amp;ajbh=" />
    <add key="案件-治安案件详细信息" value="http://10.178.3.34/zhddTwo/aj/ajgl!showView1.do?viewType=sl&amp;ajbh=" />
    <add key="监所人员列表" value="http://10.178.3.34/zhddInterface/js/jsglInterface!getZyDetails.do?lb="/>
    <add key="监所人员详细信息" value="http://10.178.3.34/zhddInterface/js/jsglInterface!showZyqkView.do?key="/>

    <!-- 圈选相关 -->
    <add key="圈选概要信息" value="http://10.178.18.16:8080/SmartCity/dzsp/getInfoByPoly.ws" />
    <!--<add key="圈选房屋统计" value="http://10.178.18.16:8080/SmartCity/dzsp_new/getFwCountByPoly.ws" />-->
    <add key="圈选房屋统计" value="http://10.178.18.16:8080/SmartCity/dzsp/getFwCountByPoly.ws" />
    <!--<add key="圈选人口统计" value="http://10.178.18.16:8080/SmartCity/dzsp_new/getRkCountByPoly.ws"/>-->
    <add key="圈选人口统计" value="http://10.178.18.16:8080/SmartCity/dzsp/getRkCountByPoly.ws"/>
    <add key="圈选场所统计" value="http://10.178.18.16:8080/SmartCity/dzsp/getCsCountByPoly.ws"/>
    <add key="圈选视频监控统计" value="http://10.178.18.16:8080/SmartCity/dzsp_new/getSpjkCountByPoly.ws" />
    <!--<add key="圈选案件统计" value="http://10.178.18.16:8080/SmartCity/dzsp_new/getAjCountByPoly.ws" />-->
    <add key="圈选案件统计" value="http://10.178.18.16:8080/SmartCity/dzsp/getAjCountByPoly.ws" />
    <add key="圈选派出所责任区统计" value="http://10.178.18.16:8080/SmartCity/dzsp_new/getPcsZrqCountByPoly.ws" />
    <add key="圈选警员统计" value="http://10.178.18.16:8080/SmartCity/dzsp_new/getJlCountByPoly.ws" />
    <add key="圈选派出所责任区详细信息" value="http://10.178.18.16:8080/SmartCity/dzsp/getFqInfoByZzjgdm.ws" />
    <add key="圈选警车统计" value="http://10.178.3.34/zhddInterface/ry/ryglInterface!getJcxx.do?xzqh=62"/>
    <add key="圈选监所详细信息" value="http://10.178.3.34/zhddInterface/ry/ryglInterface!getJsxx.do?xzqh="/>
    <add key="监所人员列表" value="http://10.178.3.34/zhddInterface/js/jsglInterface!getZyDetails.do?lb="/>

    <!-- 圈选分页接口 -->
    <add key="圈选人口分页列表" value="http://10.178.18.16:8080/SmartCity/dzsp_new/getRkCountByPoly.ws" />
    <add key="圈选房屋分页列表" value="http://10.178.18.16:8080/SmartCity/dzsp_new/getFwCountByPoly.ws" />
    <add key="圈选场所分页列表" value="http://10.178.18.16:8080/SmartCity/dzsp_new/getCsCountByPoly.ws" />
    <add key="圈选视频监控分页列表" value="http://10.178.18.16:8080/SmartCity/dzsp_new/getSpjkCountByPoly.ws" />
    <add key="圈选派出所责任区分页列表" value="http://10.178.18.16:8080/SmartCity/dzsp_new/getPcsZrqCountByPoly.ws" />
    <add key="圈选案件分页列表" value="http://10.178.18.16:8080/SmartCity/dzsp_new/getAjCountByPoly.ws" />
    <add key="圈选警车分页列表" value="http://10.178.18.16:8080/SmartCity/dzsp_new/getJcxx.do?xzhh=62" />
    <add key="圈选警员分页列表" value="http://10.178.18.16:8080/SmartCity/dzsp_new/getJlCountByPoly.ws" />

    <!-- 一键搜索接口 -->
    <add key="一键搜索" value="http://10.178.18.16:8080/SmartCity/dzsp/searchDb.ws" />

    <!-- 场所类型 -->
    <add key="公共活动场所" value="CS_GGHDCS_PT" />
    <add key="商贸市场" value="CS_SMCS_PT" />
    <add key="交通场所" value="CS_JTCS_PT" />
    <add key="体育场所" value="CS_TYCS_PT" />
    <add key="旅店" value="CS_ZSFW_PT" />
    <add key="网吧" value="CS_HLWSWFW_PT" />
    <add key="党政机关" value="DWXX_DZJG_PT" />
    <add key="医院" value="DWXX_YLWS_PT" />
    <add key="寺观教堂" value="CS_ZJCS_PT" />
    <add key="学校" value="DWXX_JYJG_PT" />
    <add key="文化场所" value="CS_WHCS_PT" />
    <add key="旅游场所" value="CS_LYCS_PT" />
    <add key="居民服务场所" value="CS_JMFWCS_PT" />
    <add key="娱乐场所" value="CS_YLCS_PT" />
    <add key="公安机构" value="DWXX_GAJG_PT" />
    <add key="金融证券" value="DWXX_JRZQ_PT" />
    <add key="危险品存放处" value="DWXX_WXPCFDDW_PT" />
    <add key="卡口点" value="JT_KK_PT" />

    <add key ="看守所" value="kss" />
    <add key="戒毒所" value="jds"/>
    <add key="拘留所" value="jls"/>

    <!-- 监控类型 -->
    <add key="重点场所" value="zdcs" />
    <add key="道路交通" value="dljt" />
    <add key="公共场所" value="ggcs" />
    <add key="监管场所" value="jgcs" />
    <add key="办案中心" value="bazx" />
    <add key="窗口单位" value="ckdw" />
    <add key="移动视频" value="ydsp" />
    <add key="内部视频" value="nbsp" />

    <!-- PGIS gps轨迹库 -->
    <add key="gpsDB" value="10.178.1.218/gspgis" />
    <add key="gpsDBUser" value="zcdz" />
    <add key="gpsDBPasswd" value="zcdz" />

    <!-- PGIS gps警车、设备库-->
    <add key="gpsDeviceDB" value="10.178.1.106/pgis" />
    <add key="gpsDeviceDBUser" value="zcdz"/>
    <add key="gpsDeviceDBPasswd" value="zcdz" />

    <!-- 指挥调度平台 组织机构库 -->
    <!-- 备注: 此为备份库，生产环境需切换到主库:10.178.9.248/orcl -->
    <add key="zzjgDB" value="10.178.3.37/orcl" />
    <add key="zzjgDBUser" value="ZZJGCX" />
    <add key="zzjgDBPasswd" value="ZZJGCX" />
    <!--本地摄像头库连接信息-->
    <add key="pgConnect" value="Server=10.178.18.15;Port=5432;Database=police;Userid=postgres;Password=Zhzx1234;Pooling=true;Timeout=15;"/>
    <add key="kedaMysqlConnect" value="Database='GBS';Data Source=10.178.109.50;User ID=guest;Password=kedacom@456;CharSet=utf8;"/>
    <add key="视频远程库重复连接次数" value="3"/>
  </appSettings>
</configuration>